body{
    margin: 0%;
    font-size: 16px;
}

.main-container{
    width: 100%;
    max-width: 1800;
    margin: 0px auto;
    font-size: 1em;
}

header, footer {
    background-color: rgba(0,0,0,.8);
    color: white;
    padding: 20px;
    }


header nav{
    display: flex;
    }

header nav span{ 
    margin-right: 15px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 5px 10px;
}